@use "../assets/styles/mixins" as mixin;

.header{
    position: relative;
    padding: 10px 30px;
    background-color: white;
    box-shadow: var(--box-shadow-nav);
    height: 70px;
    img{
        width: 90px;
        height: 90px;
    }
    
} 

.headerList {
display : flex;

@include mixin.xs {
    display : none;
}
}

.headerXs {
    display:none;
    cursor : pointer;
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.8;
    }
    @include mixin.xs {
        display : block !important;
    }
}

.icon {
  width: 25px;
  height: 25px;
  color: var(--black);
  cursor: pointer;
}